*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
/* nav style start */
header{
    background-color: #ffffff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.09);

}
.nav-container{
    /* border: 1px solid rgba(158, 158, 158, 0.704); */
    max-width: 1400px;
    min-height: 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;


}
.logo-container{
    /* border: 1px solid rgb(71, 255, 160); */
    width: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo{
    width: 80px;
}
.logo-title{
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
}
.logo-title span{
    color: #FF42A5;
}
.item-container{
    /* border: 1px solid rgb(101, 60, 234); */
    width: 50%;
}
.list-item{
    display: flex;
    align-items: center;
    justify-content: right;
}
.list-item li{
    list-style: none;
    margin-right: 40px;
}
.list-item li a{
    text-decoration: none;
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;
}
.btn-nav{
    background-color: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;  
}
.btn-nav a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;
}
.btn-nav .fa-youtube{
    color:#F61C0D;
    
}
.btn-nav span{
    margin-left: 15px;
}
.btn-nav .fa-tiktok{
    color: #ff0050;
}
/* nav style end */
/* banner style start */

.banner-container{
    /* border: 1px solid tomato; */
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
}
.banner-item{
    width: 50%;
    /* border: 1px solid rgb(71, 255, 95); */
    /* background-color: #eed3e3; */
    text-align: left;
}
.banner-item-all{
    padding: 25% 0 0 0;
}
.banner-title-one{
    color: #0B0223;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-title-two{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    font-weight: 800;
    text-transform: uppercase;
}
.banner-description{
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
}
.lowercase{
    text-transform: lowercase;
}
.banner-btn button{
    color: #FFF;
    border-radius: 48px;
    padding: 15px 30px;
    border: none;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
}
.btn-pink{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.btn-skyblue{
    background-color: #4EC5F7;
}
.banner-img{
    width: 50%;
    /* border: 1px solid rgb(120, 71, 255); */
}
.banner-img img{
    width: 100%;
    height: 100%;
}
/* banner style end */
/* online style start */
.online{
    min-height: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.online-container{
    max-width: 1400px;
    margin: 0 auto;
}
.online-title-container{

}
.online-title{
    color: #0B0223;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
}
.online-title span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-description{
    color: #534C64;
    text-align: center;
    font-size: 1rem;
    line-height: 30px;
    margin-bottom: 50px;
}
.online-card-container{
    display: flex;
    justify-content: space-between;
}
.online-card-img{
    border-radius: 16px;
}
.online-card-img img{
    width: 330px;
}
.online-card-tag{
    color: #534C64;
    font-size: 1rem;
    margin-top: 20px;
}
/* online style end */
/* play games style start */

/* play games style end */
/* games stor style start */
.games{
    /* background-color: #caeaf7; */
    min-height: 50px;
    margin-bottom: 100px;
}
.games-container{
    border: 1px solid tomato;
    max-width: 1400px;
    margin: 0 auto;
 }
 .games-container-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
 }
 .games-container-bottom{
    display: flex;
    justify-content: space-around;
 }
 .games-item{
    width: 200px;
    height: 60px;
    border-radius: 35px;
    /* background-color: #efaed5; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
 }
 .games-item h6{
    color: #0B0223;
    font-size: 1rem;
    font-weight: 600;
 }
 .games-item img{
    width: 45px;
    height: 45px;
 }
 .games-item:hover{
    cursor: pointer;
    border: 1px solid #F948B2;
 }
 h6:hover{
    color: #F948B2;
 }
/* games stor style end */
